@font-face {
    font-family: "KaushanScript-Regular";
    src: url(../Font/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url(../Font/PlayfairDisplay-Regular.ttf);
}

/* --------------- General ------------*/

* {
    box-sizing: border-box;
}

.clear {
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: "PlayfairDisplay-Regular";
    font-size: 1em;
}

a:hover {
    text-decoration: rgb(3, 104, 129) underline;
    color: black;
}

a {
    text-decoration: none;
}


/* --------------- Header ------------*/

header {
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-position: bottom -90px right 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 20%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.3);
}

nav a {

    font-family: "KaushanScript-Regular";
    font-size: 1.5em;
    margin: 0 2em;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

nav a .fa-solid {
    display: block;
}

header p {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding: 1%;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    width: 100%;
    height: 60%;
    color: white;
    text-align: center;
    font-family: "KaushanScript-Regular";
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

main {
    margin: 0;
}

/*------------------- Premier Section ----------------------------*/

.premierSec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.premierSec article {
    margin: 0 2em;
}

.imgLeft {
    float: left;
    margin: 0 2em;
}

.imgRight {
    float: right;
    margin: 0 2em;
}

/*------------------- Section Home ----------------------------*/

.home {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, rgb(107, 89, 199), rgb(200, 182, 224));

}

.home article {
    text-align: center;
    width: 30%;
}


/*-----------Iframe---------------------------*/

iframe {
    width: 100%;
    border: 2px solid black;
    margin: 0;
}


/* --------------- Footer ------------*/

footer {
    padding: 2%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, rgb(107, 89, 199), rgb(200, 182, 224));

}

footer img {
    margin: 0 auto;
    width: 5%;
}

footer p {
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: rgb(0, 4, 255);
}

/* Calendar*/

#td-print-text-id{
    display: none;
}


/*------------ Contact.html -----------------------*/




/*-------------------main-----------*/